* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #8c7ae6;
    transition: all .01s;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    color: white;
    background-color: #273c75;
}

h1 {
    margin-bottom: 1rem;
}

.score {
    position: relative;
    top: 1rem;
    display: flex;
    padding: .5rem 0;
    background-color: #c23616;
}

.score * {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
}

.player-score, .computer-score {
    padding: .3rem .5rem;

}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;

}
.go {
    align-self: center;
    width: 5rem;
    height: 5rem;
    background-color: #e84118;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-weight: 900;
    color: white;
    cursor: pointer;
    transition: all 0.1s;
    
}
.container #key-space {
    width: 70px;
}
.go:hover {
    transform: scale(1.05);
}
.go:active {
    transform: scale(.95);
}


.area-computer, .area-player {
    margin: 2rem;
    max-width: 15rem;
    background-color: #273c75;
    border-radius: .4rem;
}
.area-computer {
    align-self: flex-end;
}
.board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li  {
    list-style-type: none;
}
.area-player li:hover {
    transform: scale(1.05);
    cursor: pointer;
}
img {
    transition: all 0.2s;
    width: 64px;
    height: 64px;
    margin: 0.4rem;
    background-color: hsla(44, 100%, 60%, 0.871);
    border-radius: 25%;    
}

.keys {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.key {
    background-color: #f5f6fa;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 0px 2px rgba(63, 63, 63, 0.75);
    align-self: center;
}

p{
    align-self: center;
}

.selected {
    position: relative;
    top: -1rem;
    transform: scale(1.1);
}

.shake {
    transform: rotate(1deg);
}